/* Estilo do link de navegação no hover */
.navbar-nav .nav-link:hover {
    background-color: #ec6338;
    border-radius: 10px 10px 10px 10px;
}

.navbar-brand {
    margin-right: 200px;
    /* Adicione margem à direita do logotipo */
}

.navbar-nav .nav-link {
    margin-right: 10px;
    /* Adicione margem à direita dos elementos do menu */
    color: #ffffff;

}

.a {
    color: #100140;

}

h1 {
    text-align: center;
    color: #ec6338;
}

.BotoesPrincipais {
    text-align: center;
}

.button {
    padding: 10px 20px;
    background-color: #ec6338;
    color: #ffffff;
    border: none;
    border-radius: 40px;

    transition: width 1.1s, heigth 1.1s, transform 1.1s;
    -moz-transition: width 1.1s, heigth 1.1s, -moz-transition 1.1s;
    -webkit-transition: width 1.1s, heigth 1.1s, -webkit-transform 1.1s;
    -o-transition: width 1.1s, heigth 1.1s, -o-transition 1.1s;
}

.button:hover {
    transform: scale(1.05);
    /* Aumenta o zoom para 150% do tamanho original */
    -webkit-transform: scale(1.05s);
    transform: scale(1.05s);
    background-color: #252525;
}


.info {
    background-image: url();
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .info {
        background-color: black;
    }

}

/* Cor de fundo azul desejada Serviços */
.custom-btn-blue {
    background-color: #173058;
    /* Cor de fundo azul desejada */
    color: white;
    /* Cor do texto branco para contraste */
}

.custom-btn-blue:hover {
    background-color: #ec6338;
    color: white;

}

.gallery {
    background-color: #1d1d1d;
}

.zoomP {

    transition: width 1.1s, heigth 1.1s, transform 1.1s;
    -moz-transition: width 1.1s, heigth 1.1s, -moz-transition 1.1s;
    -webkit-transition: width 1.1s, heigth 1.1s, -webkit-transform 1.1s;
    -o-transition: width 1.1s, heigth 1.1s, -o-transition 1.1s;
    text-align: center;

}

.zoomP:hover {
    transform: scale(1.05);
    /* Aumenta o zoom para 150% do tamanho original */
    -webkit-transform: scale(1.05s);
    transform: scale(1.05s);
}

/* CSS personalizado do rodapé */
.bg-custom {
    background-color: #173058;
    /* Substitua pela cor desejada */
}

/* CSS PÁGINA QUEM SOMOS*/
.circle-img {
    border-radius: 50%;
    width: 150px;
    /* Tamanho da imagem */
    height: 150px;
    /* Tamanho da imagem */
    object-fit: cover;
    text-align: center;
}

.zoomP2 {

    transition: width 1.1s, heigth 1.1s, transform 1.1s;
    -moz-transition: width 1.1s, heigth 1.1s, -moz-transition 1.1s;
    -webkit-transition: width 1.1s, heigth 1.1s, -webkit-transform 1.1s;
    -o-transition: width 1.1s, heigth 1.1s, -o-transition 1.1s;

}

.text-center-ul {
    text-align: justify;
}